@model IEnumerable<constrng.tblCompay>

@{
    ViewBag.Title = "Companies";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}

<h2>List Companies...</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.HiddenFor(model => model.CompanyId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyEmail)
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.HiddenFor(modelItem => item.CompanyId)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyEmail)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CompanyId }) |
            @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
            @Html.ActionLink("Delete", "Delete", new { id = item.CompanyId })
        </td>
    </tr>
}

</table>
