@using medicalsystem.Models
@model CompanyModel

@{
    ViewBag.Title = "Companies";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}

<h2>List Companies...</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.HiddenFor(model => model.CompanyId)
        </th>*@
        <th>
            Name
        </th>
        <th>
            Address
        </th>
        <th>
           Email
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model.CompanyDetails) {
    <tr>
        @*<td>
            @Html.HiddenFor(modelItem => item.CompanyId)
        </td>*@
        <td>
            @item.CompanyName
        </td>
        <td>
           @item.CompanyAddress
        </td>
        <td>
            @item.CompanyEmail
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CompanyId }) |
            @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
            @Html.ActionLink("Delete", "Delete", new { id = item.CompanyId })
        </td>
    </tr>
}

</table>
