@model medicalsystem.Models.ProductRecieved

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_mytemplate.cshtml";

}

<h2>Recieving Form</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "bookForm" }))
{
@Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Master Detail</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.ModelMaster.DealerId, "Select Dealer ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="form-group col-md-4">
                @*@Html.EditorFor(model => model.CompanyId, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownListFor(model => model.ModelMaster.DealerId, (IEnumerable<SelectListItem>)ViewBag.getDealer, "---Select Dealer---", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ModelMaster.DealerId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6 ">
            <div class="DatePicker input-group input-append date" id="DatePicker">
                <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                <input type="text" class="form-control" name="Date" placeholder="Date" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ModelMaster.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.ModelMaster.Amount, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.ModelMaster.Amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ModelMaster.Remarks, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-5">
                @* @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.TextAreaFor(model => model.ModelMaster.Remarks, new { @class = "form-control remark", @rows = "2", @id = "remarks" })
                @Html.ValidationMessageFor(model => model.ModelMaster.Remarks, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6"></div>
        </div>
        <br>
        <div class="row" id="new_item">
            <h4>Add Items Detail</h4>
            <div class="form-group">
                <div class="col-md-2">
                    @Html.DropDownList("Product", (IEnumerable<SelectListItem>)ViewBag.getProduct, "-- Select Item --", new { @class = "form-control", @id = "ddlproduct" })
                </div>
                <div class="col-md-1">
                    <input type="text" class="form-control" name="txtQty" id="txtQty" placeholder="Qty" />
                </div>
                <div class="col-md-1">
                    <input type="text" class="form-control" name="txtCost" id="txtCost" placeholder="Cost" />
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" name="txtPrice" id="txtPrice" placeholder="Price" />
                </div>
                <div class="col-md-2">
                    <input type="text" class="DatePicker form-control" name="txtMfg" id="txtMfg" placeholder="MFG Date" />
                </div>
                <div class="col-md-2">
                    <input type="text" class="DatePicker form-control" name="txtExp" id="txtExp" placeholder="Exp Date" />
                </div>
                <div class="col-md-1">
                    <input type="text" class="form-control" name="txtBatchNo" id="txtBatchNo" placeholder="Batch No" />
                </div>
                <div class="col-md-1">
                    <button id="additem" type="button" class="btn btn-default addButton"><i class="fa fa-plus"></i></button>
                </div>
            </div>
        </div>     
        
        <div class="row" id="update_item">
            <h4>Update Items</h4>
            <div class="form-group">
                <input type="hidden" id="Urid"  value="">
                <div class="col-md-2">
                    @Html.DropDownList("Product", (IEnumerable<SelectListItem>)ViewBag.getProduct, new { @class = "form-control", @id = "Updateddlproduct" })
                </div>
                <div class="col-md-1">
                    <input type="text" class="form-control" name="txtQty" id="UpdatetxtQty" placeholder="Qty" />
                </div>
                <div class="col-md-1">
                    <input type="text" class="form-control" name="txtCost" id="UpdatetxtCost" placeholder="Cost" />
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" name="txtPrice" id="UpdatetxtPrice" placeholder="Price" />
                </div>
                <div class="col-md-2">
                    <input type="text" class="DatePicker form-control" name="txtMfg" id="UpdatetxtMfg" placeholder="MFG Date" />
                </div>
                <div class="col-md-2">
                    <input type="text" class="DatePicker form-control" name="txtExp" id="UpdatetxtExp" placeholder="Exp Date" />
                </div>
                <div class="col-md-1">
                    <input type="text" class="form-control" name="txtBatchNo" id="UpdatetxtBatchNo" placeholder="Batch No" />
                </div>
                <div class="col-md-1">
                    <button id="saveUpdate" type="button" class="btn btn-default addButton"><i class="fa fa-save"></i></button>
                </div>
                <div class="col-md-1">
                    <button id="cancelupdateitem" type="button" class="btn btn-default addButton"><i class="fa fa-close"></i></button>
                </div>
            </div>
        </div>

        <!-- Table For Display Seleted Items-->
        <div class="table-responsive">
            <table id="myTable" name="mytbl" class="table table-hover .table-condensed">
                <tr>
                    <th>
                        Item
                    </th>
                    <th>
                        Qty
                    </th>
                    <th>
                        Cost
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        MFG Date
                    </th>
                    <th>
                        EXP Date
                    </th>
                    <th>
                        Batch No.
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </table>
        </div>

    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit" class="btn btn-success" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section pagescript{
    <link href="~/Content/datepicker/datepicker.min.css" rel="stylesheet" />
    <link href="~/Content/datepicker/datepicker3.min.css" rel="stylesheet" />
<script src="~/Content/datepicker/bootstrap-datepicker.min.js"></script>

    <script>
        $(document).ready(function () {

            //Initialize Total Amout With 0.0
            var totalamout = $('#ModelMaster_Amount');
            totalamout.val("0.0");

            // Initialize the date picker for the original due date field
            $(".DatePicker")
                .datepicker({
                    format: 'mm/dd/yyyy'
                })
                .on('changeDate', function (evt) {
                    // Revalidate the date field
                    $('#taskForm').formValidation('revalidateField', $('#dueDatePicker').find('[name="dueDate[]"]'));
                });

            //Hide Update Div.
            $("#update_item").hide();
            var uniqueid = 0;

            //Add Item To the Table.
            $("#additem").click(function () {
                
                $('#myTable tr:last').after('<tr id="' + uniqueid + '"> <td id=" txtproduct[' + uniqueid + ']">' + $('#ddlproduct :selected').text() + '<input name="Prid[' + uniqueid + ']" type="hidden" value="' + $('#ddlproduct :selected').val() + '"> </td>'
                                                                      +'<td id=" txtQty[' + uniqueid + ']">'     + $('#txtQty').val()                + '<input name="Qty[' + uniqueid + ']" type="hidden" value="' + $('#txtQty').val() + '"></td>'
                                                                      +'<td id=" txtCost[' + uniqueid + ']">'    + $('#txtCost').val()               + '<input name="Cost[' + uniqueid + ']" type="hidden" value="' + $('#txtCost').val() + '"></td>'
                                                                      +'<td id=" txtPrice[' + uniqueid + ']">'   + $('#txtPrice').val()              + '<input name="Price[' + uniqueid + ']" type="hidden" value="' + $('#txtPrice').val() + '"></td>'
                                                                      +'<td id=" txtMfg[' + uniqueid + ']">'     + $('#txtMfg').val()                + '<input name="Mfg[' + uniqueid + ']" type="hidden" value="' + $('#txtMfg').val() + '"></td>'
                                                                      +'<td id=" txtExp[' + uniqueid + ']">'     + $('#txtExp').val()                + '<input name="Exp[' + uniqueid + ']" type="hidden" value="' + $('#txtExp').val() + '"></td>'
                                                                      +'<td id=" txtBatch[' + uniqueid + ']">'   + $('#txtBatchNo').val()            + '<input name="Batch[' + uniqueid + ']" type="hidden" value="' + $('#txtBatchNo').val() + '"></td>'
                                                                      +'<td> <button id="EditItem" type="button" class="btn btn-default EditItem"><i class="fa fa-edit"></i></button>'
                                                                          + '<button id="DeleteItem" type="button" class="btn btn-default DeleteItem"><i class="fa fa-remove"></i></button>' + '</td> </tr>');
               uniqueid += 1;
               var amount = parseInt($('#txtCost').val()) * parseInt($('#txtQty').val());
               totalamout.val(parseInt(totalamout.val()) + amount);
               cleartxts();
            });

            //Cancel Updation....
            $('#cancelupdateitem').click(function () {
                $("#new_item").show();
                $("#update_item").hide();
                var amount = parseInt($('#UpdatetxtCost').val()) * parseInt($('#UpdatetxtQty').val());
                totalamout.val(parseInt(totalamout.val()) + amount);
            });

            //Update Record.
            $('#saveUpdate').click(function () {
                var recordId = $('#Urid').val();
                var getworkingrow = $('#' + recordId);
                var amount = parseInt($('#UpdatetxtCost').val()) * parseInt($('#UpdatetxtQty').val());
                totalamout.val(parseInt(totalamout.val()) + amount);
                //update table items
                getworkingrow.find("td[id=' txtproduct["+recordId+"]']").html($('#Updateddlproduct :selected').text());
                getworkingrow.find("td[id=' txtQty[" + recordId + "]']").html($('#UpdatetxtQty').val());
                getworkingrow.find("td[id=' txtCost[" + recordId + "]']").html($('#UpdatetxtCost').val());
                getworkingrow.find("td[id=' txtPrice[" + recordId + "]']").html($('#UpdatetxtPrice').val());
                getworkingrow.find("td[id=' txtMfg[" + recordId + "]']").html($('#UpdatetxtMfg').val());
                getworkingrow.find("td[id=' txtExp[" + recordId + "]']").html($('#UpdatetxtExp').val());
                getworkingrow.find("td[id=' txtBatch[" + recordId + "]']").html($('#UpdatetxtBatchNo').val());
                cleartxts();
                $("#new_item").show();
                $("#update_item").hide();
                alert('Record Updated!');
            });
            
            //Edit Items
            $('#myTable').on('click', '.EditItem', function () {
                $("#new_item").hide();
                $("#update_item").show();
                //var trid = $(this).closest('tr').attr('id');

                var recordId = $(this).closest('tr').attr('id');
                var currentrow = $('#' + recordId);
                var qty = currentrow.find("td[id=' txtQty[" + recordId + "]']").html();
                var amount = currentrow.find("td[id=' txtCost[" + recordId + "]']").html();

                var subamount = parseInt(qty) * parseInt(amount);
                totalamout.val(parseInt(totalamout.val()) - subamount);

                $('#Urid').val(recordId)
                var val = $(this).closest('tr').find('td:eq(0)').html();
                //var val1 = $(this).closest('tr').find('td:eq(0)').html();

                //$("#Updateddlproduct option").each(function () {
                //    if ($(this).text() == val) {
                //        $(this).attr('selected', 'selected').siblings().removeAttr('selected');
                //    }
                //}); //Prid

                $('#UpdatetxtQty').val($(this).closest('tr').find("input[name*='Prid']").val());
                $('#UpdatetxtQty').val($(this).closest('tr').find("input[name*='Qty']").val());
                $('#UpdatetxtCost').val($(this).closest('tr').find("input[name*='Cost']").val());
                $('#UpdatetxtPrice').val($(this).closest('tr').find("input[name*='Price']").val());
                $('#UpdatetxtMfg').val($(this).closest('tr').find("input[name*='Mfg']").val());
                $('#UpdatetxtExp').val($(this).closest('tr').find("input[name*='Exp']").val());
                $('#UpdatetxtBatchNo').val($(this).closest('tr').find("input[name*='Batch']").val());

            });

            //Delete items From Tables.
            $('#myTable').on('click', '.DeleteItem', function () {
                var recordId = $(this).closest('tr').attr('id');
                var currentrow = $('#' + recordId);
                var qty = currentrow.find("td[id=' txtQty[" + recordId + "]']").html();
                var amount = currentrow.find("td[id=' txtCost[" + recordId + "]']").html();

                var subamount = parseInt(qty) * parseInt(amount);
                totalamout.val(parseInt(totalamout.val()) - subamount);

                if (totalamout.val() == "" && totalamout.val() == 0) {
                    totalamout.val("0.0");
                }

                $(this).closest('tr').remove();
            });


            function cleartxts() {
                $('#ddlproduct :selected').val($("#ddlproduct option:first").val());
                $('#txtQty').val("");
                $('#txtCost').val("");
                $('#txtPrice').val("");
                $('#txtMfg').val("");
                $('#txtExp').val("");
                $('#txtBatchNo').val("");
               
                $('#Updateddlproduct :selected').val($("#Updateddlproduct option:first").val());
                $('#UpdatetxtQty').val("");
                $('#UpdatetxtCost').val("");
                $('#UpdatetxtPrice').val("");
                $('#UpdatetxtMfg').val("");
                $('#UpdatetxtExp').val("");
                $('#UpdatetxtBatchNo').val("");
            }

            //Ready Function.....
        });
    </script>

}